* {
  margin: 0;
  padding: 0;
  font-family:'Roboto', sans-serif;;
}

.parent-container{
  width: 100%;
}

.child-container{
  width: 80%;
  margin: auto;
}
.sub-container1{
  background-color: #EEEEEE;
  padding: 4%;
  border: 1px solid #E2E2E2;
}
/* Sample Heading */
.sub-container1 h1{
  font-size: 45px;
  font-weight: 400;
}
/* Latest Features */
/* .sub-heading h2{
  font-size: 25px;
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 5px;
} */
hr{
  margin-top: 3%;
  margin-bottom: 20px;
}
.sub-container2{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gallery-box{
  padding: 5px;
  width: 23%;
  text-align: center;
  border: 1px solid #acacac;
}
.gallery-box img{
  width: 100%;
}
.gallery-text{
  width: 80%;
  margin: auto;
}
.gallery-text h2{
  font-weight: 500;
  padding: 10px;
}
.blue-btn{
  display: inline-block;
  border-radius: 5px;
  color: white;
  background-color: #428BCA;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.white-btn{
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #E2E2E2;
  cursor: pointer;
}
.footer{
  padding-top: 3%;
  padding-bottom: 3%;
}
.footer h3{
  font-weight: 400;
}


@media (max-width : 1150px){
  .sub-container2{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
  }
  .gallery-box{
      width: 45%;
      margin-bottom: 15px;
  }
}

@media (max-width : 700px){
  .sub-container2{
      width: 100%;
      display: grid;
      grid-template-columns: auto ;
      grid-gap: 15px;
  }
  .gallery-box{
      width: 100%;
  }
}

.nav {
height: 50px;
width: 100%;
margin-bottom: 50px;
background-color: #222222;
position: relative;
}

.nav li {
float: left;
padding: 15px;
list-style: none;
color: red;
}

.nav-header {
display: inline;
}

.nav-title {
display: inline-block;
font-size: 22px;
color: grey;
padding-left: 50px;
}

.nav>.nav-btn {
display: none;
}

.nav>.nav-links {
display: inline;
padding-left: 20px;
font-size: 18px;
}

.nav>.nav-links>a {
display: inline-block;
padding: 13px 10px 13px 10px;
text-decoration: none;
color: grey;
}

.nav>.nav-links>a:hover {
background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
display: none;
}

.nav-header {
padding-left: 7%;
}

@media (max-width: 600px) {
.nav-title{
padding: 10px;
}
.nav>.nav-btn {
display: inline-block;
position: absolute;
right: 0px;
top: 0px;
}

.nav>.nav-btn>label {
display: inline-block;
width: 50px;
height: 50px;
padding: 13px;
}

.nav>.nav-btn>label:hover,
.nav #nav-check:checked~.nav-btn>label {
background-color: rgba(0, 0, 0, 0.3);
}

.nav>.nav-btn>label>span {
display: block;
width: 25px;
height: 10px;
border-top: 2px solid #eee;
}

.nav>.nav-links {
position: absolute;
display: block;
width: 100%;
background-color: #333;
height: 0px;
transition: all 0.3s ease-in;
overflow-y: hidden;
top: 50px;
left: 0px;
}

.nav>.nav-links>a {
display: block;
width: 100%;
}

.nav>#nav-check:not(:checked)~.nav-links {
height: 0px;
}

.nav>#nav-check:checked~.nav-links {
height: calc(100vh - 50px);
overflow-y: auto;
}
}